
<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8"/>
 <title>{{ site.title }}</title>
 <meta name="keywords" content="{{ site.keywords }}"/>
 <meta name="robots" content="{{ site.keywords }}"/>
 <meta name="msapplication-TileColor" content="#000000">
 <meta name="description" content="{{ site.description }}"/>
 <meta name="twitter:card" content="summary_large_image">
 <meta name="twitter:image:alt" content="{{ site.social_media_image_title }}">
 <meta name="twitter:title" content="{{ site.title }}">
 <meta name="twitter:description" content="{{ site.description }}">
 <meta property="og:image" content="{{ site.social_media_image }}">
 <meta name="twitter:image" content="{{ site.social_media_image }}">
 <meta property="og:image:type" content="image/png">
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
 <link rel="stylesheet" type="text/css" href="{{ 'assets/css/styles.css' | prepend: site.baseurl }}"/>
 <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
 <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', '{{ site.google_analytics_id }}');
 </script>
</head>

 <body>

  <img class="profile_pic" src="{{ site.profile_pic | prepend: site.baseurl }}"/>

  <h1>{{ site.title }}</h1>

  {% for post in posts %}
   <div class="content">
    <h2>{{ post.title }}</h2>
    <p>
     {{ post.description }}
    </p>
    <hr class="divider"/>
    <p>
     <a href="{{ post.url }}">{{ site.viewText }}</a>
    </p>
   </div>
  {% endfor %}

 </body>
</html>
